{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Assembly Learner</title>
    {% block head %}
        <link rel="stylesheet" href="{% static 'assembly_learner/pygments-styles.css' %}">
    {% endblock head %}
</head>
<body>
{% block body %}
    {% block navbar %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'assembly_learner:index' %}"><img  src="{% static 'assembly_learner/Logo3.png' %}" alt="Assembly Learner"></a>

                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                    </li>
                </ul>



                <div class="d-flex justify-content-start" role="search" style="position: absolute; width: 430px; left: 530px; top: 20px">
                    <input class="form-control me-2" type="search" placeholder="Search....." aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </div>


                <ul class="navbar-nav">
                    <li class="nav-item">
                        {% if request.user.is_active %}
                            <a class="nav-link active" aria-current="page"
                               href="{% url 'admin:logout' %}?next={{ request.path }}">Logout</a>
                        {% else %}
                            <a class="nav-link active" aria-current="page"
                               href="{% url 'login' %}?next={{ request.path }}">Login</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </nav>
    {% endblock navbar %}

    {% block content %}
    {% endblock content %}
{% endblock body %}
</body>
</html>