{% extends 'assembly_learner/base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'js/codemirror-6.65.6/codemirror.css' %}">
    <script src="{% static 'js/codemirror-6.65.6/codemirror.js' %}"></script>
{% endblock head %}

{% block content %}
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">Python Editor</div>
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <textarea id="python-code"></textarea>
                </div>
                <script>
                </script>
            </div>
        </div>


        <div class="col-6">
            <div class="card" id="assembly-card">
                <div class="card-body">
                    <div class="card-title">Converted Assembly Code</div>
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <textarea id="assembly-code"></textarea>
                </div>
            </div>
        </div>
    </div>


    <div class="row buttons">
        <form method="post">
            <div class="card">
                <div class="card-body d-flex justify-content-center">
                    {% csrf_token %}
                    <input id="python-code-input" type="hidden" name="code" value="">
                    <button id="submit-button" class="btn btn-primary btn-lg" type="submit">Convert</button>
                    <a class="btn btn-primary btn-lg" href="{% url 'assembly_learner:editor' page %}">Restore</a>
                </div>
            </div>
        </form>
    </div>

    <script>
        {# 首先将python代码从后端导进来，这里用的模板变量，直接读取了python中的python_code变量 #}
        {# 这里用了 safe 过滤器，表示不对这一段内容进行转码，按原样保存 #}
        {# 经过这一段的处理，我们就可以在javascript中读取到页面中要显示的python代码了 #}
        const pythonCode = `{{ python_code | safe }}`
        {# 此处同理，读取 python 中的模板变量，也使用了 safe 过滤器，导入了汇编的代码 #}
        const assemblyCode = `{{ assembly_code | safe }}`
        {# 从html文档结构中取出了一个元素，这个元素将作为容器，承载这个编辑器 #}
        const pythonTextArea = document.querySelector('#python-code')
        {# 创建一个 CodeMirror 对象，这个是调用的外部库，codemirror库，是一个功能非常强大的前端的编辑器 #}
        {# 我们这个项目目前也就用到了其千分之一的功能吧 #}
        {# 创建的时候指定这个 pythonTextArea ，也就是指定了将它放在页面的哪个位置 #}
        const pythonEditor = CodeMirror.fromTextArea(pythonTextArea, {
            lineNumbers: true,
        });
        {# 在编辑器中写入初始的 python 代码，这样我们在网页中打开这个页面的里面，编辑器里面就不是空的了 #}
        pythonEditor.setValue(pythonCode)
        {# 由于我们要同时显示 python 和汇编，因此要重复一次上面的工作，再创建一个编辑器 #}
        const assemblyTextArea = document.querySelector('#assembly-code')
        const assemblyEditor = CodeMirror.fromTextArea(assemblyTextArea, {
            lineNumbers: true
        });
        assemblyEditor.setValue(assemblyCode);
        ([assemblyEditor, pythonEditor]).forEach(editor => {
            {# 对这两个编辑器均进行一项设置，即大小，宽度方向自动调整，高度方向固定为800px #}
            {# 使用 forEach 方法来实现，可以避免下面这行代码写两次 #}
            editor.setSize('auto', '800px');
        })
        {# 右面这个汇编代码的编辑窗口，我们事实上是仅用于显示的，因此设置其为只读，设置其不显示游标 #}
        assemblyEditor.setOption('readOnly', 'noCursor')
        {# 定义一个回调事件，也就是点击提交之前，从 pythonEditor 中读取代码，并写入到一个 python-code-input 的元素中 #}
        {# 点击这个 submit-button 之后，由于其是 submit 类型，因此会将表单 form 里面的所有 input 的数据全都传到服务器 #}
        {# 这些数据里面就包括我们写入的这个 python-code-input 里面的 python 代码 #}
        {# 这样就实现了将编辑后的 python 代码传回服务器进行下一步的处理 #}
        const button = document.querySelector('#submit-button')
        button.onclick = () => {
            document.querySelector('#python-code-input').value = pythonEditor.getDoc().getValue()
        }
    </script>
    <style>
        #assembly-card .CodeMirror-cursors {
            visibility: hidden !important;
        }

        .card {
            margin: 20px
        }

        .buttons button, .buttons a {
            margin: 0 40px;
        }
    </style>
{% endblock content %}

