{% extends 'assembly_learner/base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'js/codemirror-6.65.6/codemirror.css' %}">
    <script src="{% static 'js/codemirror-6.65.6/codemirror.js' %}"></script>
{% endblock head %}

{% block content %}
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">Python Editor</div>
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <textarea id="python-code"></textarea>
                </div>
                <script>
                </script>
            </div>
        </div>


        <div class="col-6">
            <div class="card" id="assembly-card">
                <div class="card-body">
                    <div class="card-title">Converted Assembly Code</div>
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <textarea id="assembly-code"></textarea>
                </div>
            </div>
        </div>
    </div>


    <div class="row buttons">
        <form method="post">
            <div class="card">
                <div class="card-body d-flex justify-content-center">
                    {% csrf_token %}
                    <input id="python-code-input" type="hidden" name="code" value="">
                    <button id="submit-button" class="btn btn-primary btn-lg" type="submit">Convert</button>
                    <a class="btn btn-primary btn-lg" href="{% url 'assembly_learner:editor' page %}">Restore</a>
                </div>
            </div>
        </form>
    </div>

    <script>
        {# Firstly, the python code is imported from the backend, the template variables are used here and the python_code variable in python is read directly #}
        {# The safe filter is used here, which means that the content is not transcoded and is saved as is #}
        {# After these steps, the python code to be displayed in the page can be read in javascript #}
        const pythonCode = `{{ python_code | safe }}`
        {# The same as above, the safe filter is used to read the template variables in python, and the assembly code is imported #}
        const assemblyCode = `{{ assembly_code | safe }}`
        {# An element is taken out of the html document structure which will act as a container to host this editor #}
        const pythonTextArea = document.querySelector('#python-code')
        {# Create a CodeMirror object, this is a call to an external library, the codemirror library, which is a very powerful front-end editor #}
        {# Specify this pythonTextArea when create it, i.e. specify where to put it on the page #}
        const pythonEditor = CodeMirror.fromTextArea(pythonTextArea, {
            lineNumbers: true,
        });
        {# Write the initial python code in the editor so that when we open the page in the web page, the editor is not empty #}
        pythonEditor.setValue(pythonCode)
        {# Since I want to display both python and assembly, I have to repeat the above and create another editor #}
        const assemblyTextArea = document.querySelector('#assembly-code')
        const assemblyEditor = CodeMirror.fromTextArea(assemblyTextArea, {
            lineNumbers: true
        });
        assemblyEditor.setValue(assemblyCode);
        ([assemblyEditor, pythonEditor]).forEach(editor => {
            {# Setting for both editors, i.e. size, width direction automatically adjusted, height direction fixed at 800px #}
            {# This could be achieved by using the forEach method to avoid writing the following line of code twice #}
            editor.setSize('auto', '800px');
        })
        {# The editor window of the Sigma16 assembly code on the right is in fact for display only, so set it to read-only and set it not to display cursors #}
        assemblyEditor.setOption('readOnly', 'noCursor')
        {# Define a callback event, i.e. read the code from the pythonEditor and write it to a python-code-input element before clicking submit #}
        {# When the submit-button is clicked, all the input data from the form will be passed to the server as it is a submit type #}
        {# This data includes the python code that write to this python-code-input #}
        {# This enables the edited python code to be passed back to the server for further processing #}
        const button = document.querySelector('#submit-button')
        button.onclick = () => {
            document.querySelector('#python-code-input').value = pythonEditor.getDoc().getValue()
        }
    </script>
    <style>
        #assembly-card .CodeMirror-cursors {
            visibility: hidden !important;
        }

        .card {
            margin: 20px
        }

        .buttons button, .buttons a {
            margin: 0 40px;
        }
    </style>
{% endblock content %}

