{% extends 'assembly_learner/base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'js/codemirror-6.65.6/codemirror.css' %}">
    <script src="{% static 'js/codemirror-6.65.6/codemirror.js' %}"></script>
{% endblock head %}

{% block content %}
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">Python Editor</div>
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <textarea id="python-code"></textarea>
                </div>
                <script>
                </script>
            </div>
        </div>


        <div class="col-6">
            <div class="card" id="assembly-card">
                <div class="card-body">
                    <div class="card-title">Converted Assembly Code</div>
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <textarea id="assembly-code"></textarea>
                </div>
            </div>
        </div>
    </div>


    <div class="row buttons">
        <form method="post">
            <div class="card">
                <div class="card-body d-flex justify-content-center">
                    {% csrf_token %}
                    <input id="python-code-input" type="hidden" name="code" value="">
                    <button id="submit-button" class="btn btn-primary btn-lg" type="submit">Convert</button>
                    <a class="btn btn-primary btn-lg" href="{% url 'assembly_learner:editor' page %}">Restore</a>
                </div>
            </div>
        </form>
    </div>

    <script>
        const pythonCode = `{{ python_code | safe }}`
        const assemblyCode = `{{ assembly_code | safe }}`
        const pythonTextArea = document.querySelector('#python-code')
        const pythonEditor = CodeMirror.fromTextArea(pythonTextArea, {
            lineNumbers: true,
        });
        pythonEditor.setValue(pythonCode)
        const assemblyTextArea = document.querySelector('#assembly-code')
        const assemblyEditor = CodeMirror.fromTextArea(assemblyTextArea, {
            lineNumbers: true
        });
        assemblyEditor.setValue(assemblyCode);
        ([assemblyEditor, pythonEditor]).forEach(editor => {
            editor.setSize('auto', '800px');
        })
        assemblyEditor.setOption('readOnly', 'noCursor')
        const button = document.querySelector('#submit-button')
        button.onclick = () => {
            document.querySelector('#python-code-input').value = pythonEditor.getDoc().getValue()
        }
    </script>
    <style>
        #assembly-card .CodeMirror-cursors {
            visibility: hidden !important;
        }

        .card {
            margin: 20px
        }

        .buttons button, .buttons a {
            margin: 0 40px;
        }
    </style>
{% endblock content %}

